:root {
    --white-color: #fff;
    --nav-color: #333;
    --title-color: #000;
    --link-bgcolor: #0a775f;
    --ling-bgcolor: #c99B67;
    --header-bgcolor: #f1d0ab;
    --text-ocolor: #fffc;
    --border-bgcolor: #F8f8f2;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local(''),
        url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-500italic.woff') format('woff');
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

img {
    display: block;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* header start */
.site-header {
    padding: 40px 0px;
    background-image: url("../images/bg.svg");
}

.header-box-primary {
    display: flex;
    align-items: flex-end;
}

.header-logo-link {
    margin-right: auto;
}

.nav-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.nav-item {
    margin-right: 40px;
}


.nav-link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: var(--nav-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-btn {
    padding: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* header end */
.simply {
    margin-bottom: 20px;
    padding: 0px 0px 0px 100px;
}

.simply-img {
    position: relative;
    left: 39px;
}

.simply-img::before {
    content: "";
    position: absolute;
    width: 160px;
    top: -64px;
    left: -70px;
    height: 160px;
    background-image: url("../images/coffee-alfred.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.simply-box-primary {
    display: flex;
    justify-content: space-between;
}

.simply-box {
    width: 464px;
}

.simply-title {
    margin: 0px;
    margin-bottom: 24px;
    padding-top: 116px;
    font-size: 64px;
    line-height: 75px;
    font-weight: 700;
    color: var(--title-color);
}

.simply-text {
    margin: 0px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    color: var(--title-color);
}

.simply-link {
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-align: center;
    color: var(--white-color);
    background-color: var(--link-bgcolor);
    border-radius: 100px;
    letter-spacing: 1px;
    text-decoration: none;
}

/* section simply end */

/* section collection start */
.collection {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.collection-box {
    padding: 50px 0px;
    background-image: url("../images/collection-background.svg");
    background-position: center;
    background-size: cover;
}

.collection-title {
    margin: 0px;
    margin-bottom: 80px;
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    text-align: center;
    color: var(--title-color);
    text-transform: uppercase;
}

.collection-list {
    width: 1120px;
    margin: 0px;
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
}

.collection-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 121px;
}

.collection-item::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
}

.collection-item:last-child {
    margin: 0px;
}

.collection-item:nth-child(1):before {
    position: absolute;
    top: -35%;
    left: -30%;
    width: 402px;
    height: 302px;
    background-image: url("../images/leaf.svg");
}

.collection-item:nth-child(2):after {
    content: "";
    position: absolute;
    right: -343px;
    top: 32%;
    width: 392px;
    height: 477px;
    background-image: url("../images/leaf2.svg");

}

.collection-item:nth-child(4):before {
    position: absolute;
    top: -13%;
    left: -372px;
    width: 402px;
    height: 302px;
    background-image: url("../images/leaf3.svg");
}

.collection-item:nth-child(even) {
    flex-direction: row-reverse;
}

.collection-item-img {
    margin-right: 117px;
}

.collection-item:nth-child(even) .collection-item-img {
    margin-right: 0px;
    margin-left: 117px;
}

.collection-item-box {
    width: 453px;
}

.collection-item:nth-child(2) .collection-item-box {
    width: 390px;
}

.collection-item:nth-child(3) .collection-item-box {
    width: 390px;
}

.collection-item:nth-child(4) .collection-item-box {
    width: 410px;
}

.collection-item-title {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--nav-color);
}

.collection-item-text {
    margin: 0px;
    font-size: 22px;
    line-height: 34px;
    color: var(--nav-color);
}

/* section collection end */

/* section choose start */
.choose {
    margin: 0 auto;
    padding: 0px 20px;
}

.choose-pack {
    height: 703px;
    margin-bottom: 292px;
    padding: 50px 0px;
    background-image: url("../images/bi.svg");
    background-position: center;
    background-size: cover;
}

.choose-box {
    width: 581px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.choose-title {
    color: var(--white-color);
    margin-bottom: 10px;
}

.choose-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--text-ocolor);
}

.choose-list {
    position: relative;
    top: -34px;
    display: flex;
    padding: 0px;
    list-style-type: none;
}

.choose-list::before {
    content: "";
    position: absolute;
    top: -7%;
    left: -50px;
    width: 128px;
    height: 135px;
    background-image: url("../images/first-coffee.svg");
    background-size: contain;
}

.choose-item {
    margin-right: 20px;
}

.choose-item-img {
    margin-bottom: 28px;
}

.choose-item-box {
    width: 377px;
}

.choose-item-title {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    color: var(--nav-color);
    text-transform: uppercase;
}

.choose-item-text {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    color: var(--nav-color);
}

/* section choose end */

/* section works start */
.works {
    margin: 0px 20px 50px 20px;
}

.works-pack {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/works-bi.svg");
}

.works-title {
    margin-bottom: 80px;
}

.works-box {
    position: relative;
    margin-bottom: 160px;
}

.works-tiny-one {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: var(--border-bgcolor);
    border: 4px solid var(--ling-bgcolor);
    z-index: 1;
}

.works-tiny-two {
    position: absolute;
    left: 453px;
}

.works-tiny-three {
    position: absolute;
    right: 375px;
}

.works-tiny-border {
    position: absolute;
    top: 30px;
    width: 900px;
    height: 1px;
    border-bottom: 3px dashed var(--ling-bgcolor);
}

.works-list {
    position: relative;
    display: flex;
    margin: 0px;
    margin-bottom: 60px;
    padding: 0px;
    list-style-type: none;
}

.works-list::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -40%;
    width: 192px;
    height: 129px;
    background-image: url("../images/first-coffee2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.works-item {
    position: relative;
    width: 433px;
    margin-right: 20px;
    padding: 140px 28px 40px 20px;
    background-color: var(--white-color);
}

.works-item-box {
    width: 385px;
}

.works-item-title-box {
    width: 255px;
}

.works-item-title {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: var(--nav-color);
    text-transform: uppercase;
}

.works-item-text {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    color: var(--nav-color);
}

.works-item-tiny {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 64px;
    line-height: 75px;
    color: var(--nav-color);
    opacity: 0.8;
}

.works-tiny-box {
    display: block;
    width: 211px;
    margin: 0 auto;
}

.works-link {
    display: block;
    width: 225px;
    margin: 0 auto;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-align: center;
    color: var(--white-color);
    background-color: var(--ling-bgcolor);
    border-radius: 100px;
    border: none;
    letter-spacing: 1px;
    text-decoration: none;
}

/* section works end */
/* main end */

/* footer start */
.site-footer {
    padding: 65px 0px;
    background-image: url("../images/bg.svg");
}

.footer-box-primary {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 246px;
    padding-bottom: 8px;
}


.footer-list {
    display: flex;
    align-items: center;
    width: 379px;
    margin: 0px;
    margin-right: auto;
    padding: 0px;
    list-style-type: none;
}

.footer-icon-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.footer-item {
    margin-right: 40px;
}

.footer-item:last-child {
    margin: 0px;
}

.footer-item-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-align: center;
    color: var(--nav-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-btn {
    margin-right: auto;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.footer-item-icon {
    margin-right: 30px;
}

.footer-item-icon:last-child {
    margin-right: 0px;
}

/* footer end */

/* 2 page */
.about-box {
    width: 372px;
}


/* section about end */

/* section commitment start */
.commitment {
    position: relative;
    margin: 20px 20px 160px 20px;
    padding: 160px 64px 200px 0px;
    background-image: url("../images/collection-background.svg");
}

.commitment-box-top {
    position: relative;
    width: 626px;
    margin-left: auto;
}

.commitment-box-top::before {
    content: "";
    position: absolute;
    left: -94%;
    width: 360px;
    height: 364px;
    background-image: url("../images/coffee-leaf.png");
    z-index: 2;
}

.commitment-title {
    margin: 0px;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: #000000;
}

.commitment-title::before {
    display: block;
    content: "";
    position: absolute;
    top: -30%;
    left: -146%;
    width: 402px;
    height: 300px;
    background-image: url("../images/leaf.svg");
    background-repeat: no-repeat;
}

.commitment-text {
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}

/* section commitment end */

/* section quality start */
.quality {
    margin: 20px 20px 0px 20px;
    padding: 100px 0px 118px 0px;
    background-image: url("../images/bi.svg");
}

.quality-box-primary {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.quality-box-top {
    width: 639px;
    margin-left: 93px;
}

.quality-title-box {
    width: 397px;
}

.quality-title {
    margin: 0px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.quality-text {
    color: #fff;
}

.quality-box-img {
    position: absolute;
    top: -180px;
    right: 20px;
    width: 550px;
    height: 500px;
}

/* section quality end */

/* section headquarters  start */

.headquarters {
    margin: 20px 20px 50px 20px;
    padding: 50px 0px 100px 0px;
    background-image: url("../images/works-bi.svg");
}

.headquarters-title {
    margin-bottom: 80px;
    text-align: center;
}

.headquarters-list {
    display: flex;
    width: 1340px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.headquarters-item {
    width: 433px;
    margin-right: auto;
    padding: 140px 0px 40px 20px;
    background: #F8F8F2;
}

.headquarters-item:not(:first-child) {
    padding-top: 187px;
}

.headquarters-item-box {
    position: relative;
    width: 178px;
}

.headquarters-item-box::after {
    position: absolute;
    top: -84%;
    right: -102%;
    display: block;
    content: "";
    width: 120px;
    height: 143px;
    background-image: url("../images/uk.svg");
}

.headquarters-item:first-child .headquarters-item-box::after {
    top: -45%;
}

.headquarters-item:nth-child(2) .headquarters-item-box::after {
    width: 120px;
    height: 120px;
    background-image: url("../images/canada.svg");
}

.headquarters-item:nth-child(3) .headquarters-item-box::after {
    width: 120px;
    height: 107px;
    background-image: url("../images/australia.svg");
}

.headquarters-item-title {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333333;
}

.headquarters-item-adress {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.headquarters-item-text {
    margin: 0px;
    margin-bottom: 6px;
}

/* section headquarters  end */
/* main end */

.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-show {
    display: block;
}

.modal-window {
    width: 561px;
    margin: 145px auto;
    background-color: #fff;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.modal-title-box {
    padding: 19px 0px 19px 30px;
    background: #C99B67;
}

.modal-title {
    margin: 0px;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    font-variant: small-caps;
    color: #FFFFFF;
}

.modal-text-box {
    padding: 50px 30px;
}

.modal-menu-text {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}

.modal-tiny {
    color: #0A775F;
}

.modal-text {
    margin: 0px;
    margin-bottom: 63px;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.btn-box {
    display: flex;
}

.modal-price-text {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.js-close-modal {
    margin-left: auto;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #0A775F;
    border-radius: 100px;
    border-color: transparent;
}

@keyframes slidedown {
    from {
        transform: translateY(-1000px);
    }

    to {
        transform: translateY(0);
    }
}

/* 3 page */
.pick{
    margin: 20px;
}
.pick-tiny{
    top: -80px;
}
.pick-tiny:last-child{
    top: -50px;
}
.pick-list::after{
    display: none;
}
/* section pick end */

/* section drink start */
.drink {
    margin: 20px;
    padding: 50px 0px;
    background-image: url("../images/collection-background.svg");
}

.drink-box-primary {
    display: flex;
}

.drink-box {
    position: relative;
    display: inline-block;
    width: 228px;
    margin-right: auto;
}
.drink-box::before{
    content: "";
    position: absolute;
    left: -283px;
    bottom: 71px;
    width: 402px;
    height: 300px;
    background-image: url("../images/leaf.svg ");
    background-repeat: no-repeat;
}
.drink-box::after{
    content: "";
    position: absolute;
    left: 554%;
    bottom: 47%;
    width: 392px;
    height: 477px;
    background-image: url("../images/leaf2.svg ");
    background-repeat: no-repeat;
}
.drink-service-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.drink-service-item {
    margin-bottom: 35px;
}

.drink-service-link {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    text-decoration: none;
}

.drink-service-link:hover {
    border-bottom: 3px dashed #C99B67;
    transition: all 0.2s ease;
}
.drink-list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.drink-item{
    margin-bottom: 60px;
}
.input-summary{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #000000;
list-style-type: none;
}
.input-summary::after{
    content: "";
    width: 18px;
    height: 10px;
    margin-left: 55px;
    background-image: url("../images/btn.svg");
}

.input-radio{
    margin: 0px;
    padding: 0px;
    appearance: none;
}
.input-radio:checked + .input-tiny-box{
    opacity: 1;
}

.input-tiny-box{
    display: inline-block;
    width: 207px;
    padding: 30px 30px 56px 16px;
    background-color: #0A775F;
    opacity: 0.2;
    z-index: -1;
}


.input-tiny-title {
    display: block;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
}

.input-tiny-text{
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.summary-box {
    width: 690px;
    margin-bottom: 20px;
    padding: 40px 20px;
    background: #C99B67;
}

.summary-title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.summary-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.summary-tiny {
    color: #000;
}

.drink-create-btn {
    display: block;
    width: 180px;
    margin-left: auto;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #0A775F;
    border-radius: 100px;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    border: none;
}

/* section drink end */